body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #01132b;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    background-image: url(../imagens/Tendencias-de-tecnologia-2023-Capa.jpg);
    padding: 120px;
    text-align: center;
    background-repeat: no-repeat; /* Evita repetição */
    background-position: center; /* Centraliza a imagem */
    background-size: cover; /* Cobre todo o espaço */
    height: 50vh; /* Exemplo: altura total da tela */
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    box-sizing: border-box;      /* Garante que o padding não aumente o tamanho final */
   

}


section {
    padding: 40px;
    background:#01132b;
    margin: 0px;
    color: white;
    border-radius: 0px;
}


button {
    padding: 10px 20px;
    background: #1974ec;
    color: white;
    border: none;
    cursor: pointer;
    
}

footer {
    background:#01132b;
    color: white;
    text-align: center;
    padding: 10px;
}
.Div {
    color: white
}